body {
	font-family: 'Courier New', Courier, monospace;
	background-color: #282A36;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.head {
  display: flex;
  background-color: #191A21;
  font-size: 1.2em;
  margin-top: 0;
  padding-top: 0;
}

.active {
  padding: 10px 15px 10px 15px;
  border-right: 1px #191A21 solid;
  background-color: #282A36;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  border-top: #94527E 2px solid;
}

a {
color:#8BE9FD;
text-decoration: none;
}

a:hover {
  color:#00FF00;
}

table tr td:nth-child(2) {
	color: #F8F8F2;
}

span {
  color: #FF79C6;
}

span2 {
  color: #8BE9FD;
}

span3 {
  color: #00FF00;
}

span4 {
  color:#F1FA8C
}

a {
  color:#ff0000;
}
.file {
  color: #6272A4;
  border-bottom: 0;
  background-color: #21222C;   
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding: 10px 15px 10px 15px;
}

table {
    border-collapse: collapse;
}

table tr td:first-child {
	color: #6272A4;
	border-right: solid 1px #62646C;
	padding: 5px 15px 1px 10px;
	text-align: right;
}

.animacao{
	color : #00ff00;
	font-family : monospace;
	text-align: center;
	font-size : 25px;
	margin: 0 auto;
	overflow: hidden;
  white-space: no-wrap;
	border-right: 4px solid #00ff00;
	animation: blinkCursor 500ms infinite normal, typing 2s steps(50) 1s normal both;
}

#img {
  width: 100%;
  flex-wrap: wrap;
}

@keyframes typing{
    0%, 100%{
        width: 0;
    }
    100%{
        width: 19em;
    }
}
@keyframes blinkCursor {
	0%, 100%{
		border-right-color: green;
	}
	100%{
		border-right-color: transparent;
	}

  